header {
    text-align: center;
    color: white;
}

.custom-text-brown {
    color: #B79257;
}

.custom-text-white {
    color: #EEEEEE;
}

body {
    background-color: #1B1B1B;
    margin-left: 1rem;
    margin-top: 1rem;
}

label{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #ac7723;
    font-style: italic;
    
}
.rotate-icon {
    transition: transform 0.3s;
}

.rotate-icon.rotate {
    transform: rotate(180deg);
}
.custom-dropdown-toggle, .search-button, .search-input {
    border-radius: 20px; 
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-button {
    border: none;
    background-color: #6c757d;
    color: white;
    padding: 8px 16px;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #5a6268;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 20px;
    border: 1px solid #B79257;
    background-color: #B79257;
    border-radius: 20px;
    display: none;
    width: 0;
    transition: width 0.3s;
}

.search-container.focused .search-input {
    display: block;
    width: 5.5rem; 
}

#toggle-filters {
    color: white;
    font-weight: bold;
}
#toggle-icon {
    display: inline-block;
    margin-left: .2rem;
    transition: transform .3s ease;
}

.custom-alert {
    background-color: #B79257;
    border-color: #B79257;
    color: #EEEEEE;
    border-radius: 20px;
}

.custom-alert-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.custom-alert-text-margin {
    margin-top: 5px;
}


.invisible-header th {
    background-color: #1b1b1b00;
    color: #B79257;
}

.invisible-data tr {
    background-color: #1b1b1b00;
}

.invisible-thing {
    background-color: #1b1b1b00;
}

.table-custom.no-border {
    border: none;
}

.custom-tbody tr {
    background-color: #2B2B2B;
    border-bottom: 1px solid white;
}


.custom-tbody td {
    background-color: transparent; 
}


.table-custom td {
    border: none;
    color: white;
}

#data-table tbody tr {
    display: table-row; 
}


.custom-select {
    border-radius: 20px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    color: #EEEEEE;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.custom-select:hover {
    background-color: #555555;
    border-color: #555555;
}

.texto-variable{
    font-size: 30px;
}

.letras-alerts{
    font-size: large;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.d-none {
    display: none;
}
