header {
    text-align: center;
    color: white;
}

.custom-text-brown {
    color: #B79257;
}

.custom-text-white {
    color: #EEEEEE;
}

body {
    background-color: #1B1B1B;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* Personalizar border-radius para los dropdowns y el botón de búsqueda */
.custom-dropdown-toggle, .search-button, .search-input {
    border-radius: 20px; /* Ajusta este valor según tus preferencias */
}

/* Estilo para el botón de búsqueda */
.search-container {
    position: relative;
    display: inline-block;
}

.search-button {
    border: none;
    background-color: #6c757d;
    color: white;
    padding: 8px 16px;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #5a6268;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 20px;
    border: 1px solid #B79257;
    background-color: #B79257;
    border-radius: 20px;
    display: none;
    width: 0;
    transition: width 0.3s;
}

.search-container.focused .search-input {
    display: block;
    width: 5.5rem; 
}

.custom-alert {
    background-color: #B79257;
    border-color: #B79257;
    color: #EEEEEE;
    border-radius: 20px;
}

.custom-alert-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.custom-alert-text-margin {
    margin-top: 5px;
}

/* Hace que el encabezado de la tabla sea invisible */
.invisible-header th {
    background-color: #1b1b1b00;
    color: #B79257;
}

.invisible-data tr {
    background-color: #1b1b1b00;
}

.invisible-thing {
    background-color: #1b1b1b00;
}

/* Elimina el borde blanco de la tabla */
.table-custom.no-border {
    border: none;
}

.custom-tbody tr {
    background-color: #2B2B2B; /* Color de fondo de las filas */
    border-bottom: 1px solid white;
}

/* Aplica fondo azul a las filas de la tabla y agrega una línea blanca entre cada dato */
.custom-tbody td {
    background-color: transparent; /* Fondo transparente para las celdas */
}

/* Elimina cualquier borde en las celdas */
.table-custom td {
    border: none;
    color: white;
}

#data-table tbody tr {
    display: table-row; /* Asegura que las filas se muestren en su estado por defecto */
}

/* Estilo personalizado para los select */
.custom-select {
    border-radius: 20px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    color: #EEEEEE;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.custom-select:hover {
    background-color: #555555;
    border-color: #555555;
}

.texto-variable{
    font-size: 30px;
}